@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: rgb(255, 253, 252);
  padding-left: 10rem;
}

.navi_bar{
  text-align: center;
}

.comment{
background-color: rgb(234, 249, 249);
border: 1px solid blue; 
}

.comments{
  background-color: rgb(234, 249, 249);
  border: 1px solid blue; 
  }

.feed{
  width: 45.2rem;

}
.name{
  float: right;
  padding-right: 5rem;
}

.profile_pic{
  border-radius: 50%;
}

.commentphoto{
  width: 3px;
}

.profile-stats{

}

i {
  color: #ddd;
  cursor: pointer;
}

i.active{
  color: #555;
}
.profile-picture {
  width: 50px;
}

.profile_container img {
  width: 260px;
  height: 180px;
  
  
}

.user_posts img {
  width: 360px;
  height: auto;
  flex-wrap: wrap;
}

.top_container {
  position: relative;
  text-align: center;
}
.top_image  img {
transform: scaleX(-1);
width: 100%;
height: 200px;
top: -20px;
position: relative;
}

.top{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-right: 10rem;
  font-size: 100px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post_view_comments{
float: inline-start;
}
.post_img_show img {
  width: 400px;
  float: left;
  padding-right: 20px;
}

.post_show {

}